[Desktop Entry]
Name=Rotate
Comment=Rotate the screen
Keywords=rotate;screen;
Exec=/lib/udev/flexx101-screen-rotate.sh
Terminal=false
Type=Application
Icon=rotation-allowed-symbolic
StartupNotify=true 
Categories=System;
